.github/dita-ot-3.3.3/plugins/org.oasis-open.dita.v1_2/schema/learning/xsd/learningMetadataDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- HEADER -->
<!-- ============================================================= -->
<!-- MODULE:    DITA Learning  metadata Domain -->
<!-- VERSION:   1.2 -->
<!-- DATE:      February 2009 -->
<!---->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA) -->
<!---->
<!-- PURPOSE:    XSD to describe DITA Learning metadata domain  -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- MAy 2007 -->
<!---->
<!-- (C) Copyright OASIS Open 2007, 2009. -->
<!-- All Rights Reserved. -->
<!---->
<!-- UPDATES: -->
<!-- ============================================================= -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:annotation>
       <xs:appinfo>
         <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(topic learningmeta-d)</dita:domainsModule>
       </xs:appinfo>
       <xs:documentation> 
       
       </xs:documentation>
    </xs:annotation>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        - LOM Metadata
        - Based on IEEE LOM. Scott Hudson
        - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    
    <xs:group name="learningmeta-d-metadata">
        <xs:choice>
            <xs:group ref="lcLom" />
        </xs:choice>        
    </xs:group>
    
    <xs:group name="lcLom">
        <xs:choice>
            <xs:element ref="lcLom" />
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomStructure">
        <xs:choice>
            <xs:element ref="lomStructure"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomCoverage">
        <xs:choice>
            <xs:element ref="lomCoverage"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomAggregationLevel">
        <xs:choice>
            <xs:element ref="lomAggregationLevel"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomTechRequirement">
        <xs:choice>
            <xs:element ref="lomTechRequirement"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomInstallationRemarks">
        <xs:choice>
            <xs:element ref="lomInstallationRemarks"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomOtherPlatformRequirements">
        <xs:choice>
            <xs:element ref="lomOtherPlatformRequirements"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomInteractivityType">
        <xs:choice>
            <xs:element ref="lomInteractivityType"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomLearningResourceType">
        <xs:choice>
            <xs:element ref="lomLearningResourceType"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomInteractivityLevel">
        <xs:choice>
            <xs:element ref="lomInteractivityLevel"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomSemanticDensity">
        <xs:choice>
            <xs:element ref="lomSemanticDensity"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomIntendedUserRole">
        <xs:choice>
            <xs:element ref="lomIntendedUserRole"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomContext">
        <xs:choice>
            <xs:element ref="lomContext"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomTypicalAgeRange">
        <xs:choice>
            <xs:element ref="lomTypicalAgeRange"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomDifficulty">
        <xs:choice>
            <xs:element ref="lomDifficulty"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lomTypicalLearningTime">
        <xs:choice>
            <xs:element ref="lomTypicalLearningTime"/>
        </xs:choice>
    </xs:group>
    
     <xs:element name="lcLom">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="lcLom.class">
                <xs:attribute ref="class" default="+ topic/metadata learningmeta-d/lcLom "/>
            </xs:extension>
        </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcLom.class">
        <xs:sequence>
            <xs:group ref="lcLom.content"></xs:group>
        </xs:sequence>
        <xs:attributeGroup ref="lcLom.attributes"/>
    </xs:complexType>
  
    <xs:group name="lcLom.content">
      <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="lomStructure"/>
            <xs:group ref="lomCoverage"/>
            <xs:group ref="lomAggregationLevel"/>
            <xs:group ref="lomTechRequirement"/>
            <xs:group ref="lomInstallationRemarks"/>
            <xs:group ref="lomOtherPlatformRequirements"/>
            <xs:group ref="lomInteractivityType"/>
            <xs:group ref="lomLearningResourceType"/>
            <xs:group ref="lomInteractivityLevel"/>
            <xs:group ref="lomSemanticDensity"/>
            <xs:group ref="lomIntendedUserRole"/>
            <xs:group ref="lomContext"/>
            <xs:group ref="lomTypicalAgeRange"/>
            <xs:group ref="lomDifficulty"/>
            <xs:group ref="lomTypicalLearningTime"/>
            <xs:group ref="data"/>
        </xs:choice>
      </xs:sequence>
    </xs:group>
    
     <xs:attributeGroup name="lcLom.attributes">
       <xs:attributeGroup ref="univ-atts"/>
       <xs:attribute name="mapkeyref" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
     </xs:attributeGroup>
    
    <xs:element name="lomStructure">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lomStructure.class">
                    <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomStructure "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lomStructure.class" mixed="true">
        <xs:attributeGroup ref="lomStructure.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomStructure.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomStructure"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="mixed"/>
                    <xs:enumeration value="branshed"/>
                    <xs:enumeration value="parceled"/>
                    <xs:enumeration value="atomic"/>
                    <xs:enumeration value="collection"/>
                    <xs:enumeration value="networked"/>
                    <xs:enumeration value="linear"/>
                    <xs:enumeration value="hierarchical"/>
                  <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomCoverage">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomCoverage.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomCoverage "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomCoverage.class"  mixed="true">
        <xs:attributeGroup ref="lomCoverage.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomCoverage.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomCoverage"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value" type="xs:string" default=""/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomAggregationLevel">
       <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomAggregationLevel.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomAggregationLevel "/>
            </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:element>
    <xs:complexType name="lomAggregationLevel.class" mixed="true">
        <xs:attributeGroup ref="lomAggregationLevel.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomAggregationLevel.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomAggregationLevel"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="outputclass" type="xs:string" />
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomTechRequirement">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomTechRequirement.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomTechRequirement "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    
    <xs:complexType name="lomTechRequirement.class" mixed="true">
        <xs:attributeGroup ref="lomTechRequirement.attributes"/>
    </xs:complexType>
    
    <xs:attributeGroup name="lomTechRequirement.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomTechRequirement"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="outputclass" type="xs:string" />
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="pc-dos"/>
                    <xs:enumeration value="ms-windows"/>
                    <xs:enumeration value="macos"/>
                    <xs:enumeration value="unix"/>
                    <xs:enumeration value="multi-os"/>
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="any"/>
                    <xs:enumeration value="netscapecommunicator"/>
                    <xs:enumeration value="ms-internetexplorer"/>
                    <xs:enumeration value="opera"/>
                    <xs:enumeration value="amaya"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomInstallationRemarks">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomInstallationRemarks.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomInstallationRemarks "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomInstallationRemarks.class" mixed="true">
        <xs:attributeGroup ref="lomInstallationRemarks.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomInstallationRemarks.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomInstallationRemarks"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  type="xs:string" default=""/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomOtherPlatformRequirements">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomOtherPlatformRequirements.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomOtherPlatformRequirements "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomOtherPlatformRequirements.class" mixed="true">
        <xs:attributeGroup ref="lomOtherPlatformRequirements.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomOtherPlatformRequirements.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomOtherPlatformRequirements"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  type="xs:string" default=""/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomInteractivityType">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomInteractivityType.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomInteractivityType "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomInteractivityType.class"  mixed="true">
        <xs:attributeGroup ref="lomInteractivityType.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomInteractivityType.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomInteractivityType"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="active"/>
                    <xs:enumeration value="expositive"/>    
                    <xs:enumeration value="mixed"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomLearningResourceType">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomLearningResourceType.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomLearningResourceType "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomLearningResourceType.class"  mixed="true">
        <xs:attributeGroup ref="lomLearningResourceType.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomLearningResourceType.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomLearningResourceType"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="exercise"/>
                    <xs:enumeration value="simulation"/>    
                    <xs:enumeration value="questionnaire"/>
                    <xs:enumeration value="diagram"/>
                    <xs:enumeration value="figure"/>
                    <xs:enumeration value="graph"/>    
                    <xs:enumeration value="index"/>
                    <xs:enumeration value="slide"/>
                    <xs:enumeration value="table"/>
                    <xs:enumeration value="narrativetext"/>    
                    <xs:enumeration value="exam"/>
                    <xs:enumeration value="experiment"/>
                    <xs:enumeration value="problemstatement"/>
                    <xs:enumeration value="selfassesment"/>
                    <xs:enumeration value="lecture"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomInteractivityLevel">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomInteractivityLevel.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomInteractivityLevel "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomInteractivityLevel.class"  mixed="true">
        <xs:attributeGroup ref="lomInteractivityLevel.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomInteractivityLevel.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomInteractivityLevel"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="verylow"/>
                    <xs:enumeration value="low"/>    
                    <xs:enumeration value="medium"/>
                    <xs:enumeration value="high"/>
                    <xs:enumeration value="veryhigh"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomSemanticDensity">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomSemanticDensity.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomSemanticDensity "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>    
    <xs:complexType name="lomSemanticDensity.class" mixed="true">
        <xs:attributeGroup ref="lomSemanticDensity.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomSemanticDensity.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomSemanticDensity"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="verylow"/>
                    <xs:enumeration value="low"/>    
                    <xs:enumeration value="medium"/>
                    <xs:enumeration value="high"/>
                    <xs:enumeration value="veryhigh"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomIntendedUserRole">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomIntendedUserRole.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomIntendedUserRole "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomIntendedUserRole.class" mixed="true">
        <xs:attributeGroup ref="lomIntendedUserRole.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomIntendedUserRole.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomIntendedUserRole"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="teacher"/>
                    <xs:enumeration value="author"/>    
                    <xs:enumeration value="learner"/>
                    <xs:enumeration value="manager"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomContext">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomContext.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomContext "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomContext.class" mixed="true">
        <xs:attributeGroup ref="lomContext.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomContext.attributes">
      <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomContext"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="school"/>
                    <xs:enumeration value="highereducation"/>    
                    <xs:enumeration value="training"/>
                    <xs:enumeration value="other"/>
                  <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomTypicalAgeRange">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomTypicalAgeRange.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomTypicalAgeRange "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomTypicalAgeRange.class" mixed="true">
        <xs:attributeGroup ref="lomTypicalAgeRange.attributes"/>
    </xs:complexType>
  
    <xs:attributeGroup name="lomTypicalAgeRange.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomTypicalAgeRange"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  type="xs:string" use="required"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lomDifficulty">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomDifficulty.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomDifficulty "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomDifficulty.class" mixed="true">
        <xs:attributeGroup ref="lomDifficulty.attributes"/>
    </xs:complexType>
  
     <xs:attributeGroup name="lomDifficulty.attributes">
       <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomDifficulty"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="veryeasy"/>
                    <xs:enumeration value="easy"/>    
                    <xs:enumeration value="medium"/>
                    <xs:enumeration value="difficult"/>
                    <xs:enumeration value="verydifficult"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
     </xs:attributeGroup>
    
    <xs:element name="lomTypicalLearningTime">
        <xs:complexType>
        <xs:complexContent>
            <xs:extension base="lomTypicalLearningTime.class">
                <xs:attribute ref="class" default="+ topic/data learningmeta-d/lomTypicalLearningTime "/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="lomTypicalLearningTime.class" mixed="true">
        <xs:attributeGroup ref="lomTypicalLearningTime.attributes"/>
    </xs:complexType>
  
     <xs:attributeGroup name="lomTypicalLearningTime.attributes">
       <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="name" type="xs:string" default="lomTypicalLearningTime"/>
        <xs:attribute name="datatype" type="xs:string" default=""/>
        <xs:attribute name="value"  type="xs:string" default=""/>
        <xs:attributeGroup ref="global-atts"/>
     </xs:attributeGroup>


</xs:schema>