.github/dita-ot-3.3.3/plugins/org.oasis-open.dita.v1_3/schema-url/subjectScheme/xsd/classifyDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--=============================================================-->
<!--                   HEADER                                    -->
<!--=============================================================-->
<!-- MODULE:    DITA Subject Classification Domain               -->
<!-- VERSION:   1.2                                              -->
<!-- DATE:      November 2009                                    -->
<!--                                                             -->
<!--=============================================================-->
<!--=============================================================-->
<!--                   PUBLIC DOCUMENT TYPE DEFINITION           -->
<!--                   TYPICAL INVOCATION                        -->
<!--                                                             -->
<!-- Refer to this file by the following public identifier or an -->
<!--      appropriate system identifier                          -->
<!--PUBLIC "-//OASIS//ELEMENTS DITA Map Subject Classification Domain//EN"-->
<!--      Delivered as file "classifyDomain.mod"                      -->
<!--=============================================================-->
<!--SYSTEM:     Darwin Information Typing Architecture (DITA)    -->
<!--                                                             -->
<!--PURPOSE:    Define elements and specialization attributes    -->
<!--            for Map Subject Classification Domain            -->
<!--                                                             -->
<!--ORIGINAL CREATION DATE:                                      -->
<!--            February 2008                                    -->
<!--                                                             -->
<!--            (C) Copyright OASIS Open 2008, 2009.             -->
<!--            (C) Copyright IBM Corporation 2005, 2007.        -->
<!--            All Rights Reserved.                             -->
<!--                                                             -->
<!-- UPDATES:                                                    -->
<!--   2008.02.13 RDA: Created file based upon prototype from IBM-->
<!--   2010.01.21 RDA: Update subjectCell content to remove      -->
<!--                   duplicate element inclusion               -->
<!--=============================================================-->
<!--                                                             -->
<xs:schema xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:appinfo>
         <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(map classify-d)</dita:domainsModule>
      </xs:appinfo>
   </xs:annotation>
   <xs:group name="topicsubject">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="topicsubject"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="topicapply">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="topicapply"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="subjectref">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="subjectref"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="topicSubjectTable">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="topicSubjectTable"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="topicSubjectHeader">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="topicSubjectHeader"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="topicSubjectRow">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="topicSubjectRow"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="topicCell">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="topicCell"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="subjectCell">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="subjectCell"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="classify-d-topicref">
      <xs:choice>
         <xs:element ref="topicsubject"/>
         <xs:element ref="topicapply"/>
      </xs:choice>
   </xs:group>
   <xs:group name="classify-d-reltable">
      <xs:choice>
         <xs:element ref="topicSubjectTable"/>
      </xs:choice>
   </xs:group>
   <xs:element name="topicsubject">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="topicsubject.class">
               <xs:attribute ref="class" default="+ map/topicref classify-d/topicsubject "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="topicsubject.class">
      <xs:sequence>
         <xs:group ref="topicsubject.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="topicsubject.attributes"/>
   </xs:complexType>
   <xs:group name="topicsubject.content">
      <xs:sequence>
         <xs:group ref="topicmeta" minOccurs="0"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="data.elements.incl"/>
            <xs:group ref="subjectref"/>
            <xs:group ref="topicref"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="topicsubject.attributes">
      <xs:attribute name="navtitle" type="xs:string"/>
      <xs:attribute name="href" type="xs:string"/>
      <xs:attribute name="keyref" type="xs:string"/>
      <xs:attribute name="keys" type="xs:string"/>
      <xs:attribute name="query" type="xs:string"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="cascade" type="xs:string"/>
      <xs:attribute name="processing-role" default="resource-only">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="normal"/>
               <xs:enumeration value="resource-only"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scope">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="external"/>
               <xs:enumeration value="local"/>
               <xs:enumeration value="peer"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format" type="xs:string"/>
      <xs:attribute name="toc" default="no">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="no"/>
               <xs:enumeration value="yes"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="topicapply">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="topicapply.class">
               <xs:attribute ref="class" default="+ map/topicref classify-d/topicapply "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="topicapply.class">
      <xs:sequence>
         <xs:group ref="topicapply.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="topicapply.attributes"/>
   </xs:complexType>
   <xs:group name="topicapply.content">
      <xs:sequence>
         <xs:group ref="topicmeta" minOccurs="0"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="data.elements.incl"/>
            <xs:group ref="subjectref"/>
            <xs:group ref="topicref"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="topicapply.attributes">
      <xs:attribute name="navtitle" type="xs:string"/>
      <xs:attribute name="href" type="xs:string"/>
      <xs:attribute name="keyref" type="xs:string"/>
      <xs:attribute name="keys" type="xs:string"/>
      <xs:attribute name="query" type="xs:string"/>
      <xs:attribute name="collection-type">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="choice"/>
               <xs:enumeration value="family"/>
               <xs:enumeration value="sequence"/>
               <xs:enumeration value="unordered"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="cascade" type="xs:string"/>
      <xs:attribute name="processing-role" default="resource-only">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="normal"/>
               <xs:enumeration value="resource-only"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scope">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="external"/>
               <xs:enumeration value="local"/>
               <xs:enumeration value="peer"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format" type="xs:string"/>
      <xs:attribute name="linking">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="none"/>
               <xs:enumeration value="normal"/>
               <xs:enumeration value="sourceonly"/>
               <xs:enumeration value="targetonly"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc" default="no">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="no"/>
               <xs:enumeration value="yes"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="subjectref">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="subjectref.class">
               <xs:attribute ref="class" default="+ map/topicref classify-d/subjectref "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="subjectref.class">
      <xs:sequence>
         <xs:group ref="subjectref.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="subjectref.attributes"/>
   </xs:complexType>
   <xs:group name="subjectref.content">
      <xs:sequence>
         <xs:group ref="topicmeta" minOccurs="0"/>
         <xs:group ref="data.elements.incl" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="subjectref.attributes">
      <xs:attribute name="navtitle" type="xs:string"/>
      <xs:attribute name="href" type="xs:string"/>
      <xs:attribute name="keyref" type="xs:string"/>
      <xs:attribute name="keys" type="xs:string"/>
      <xs:attribute name="query" type="xs:string"/>
      <xs:attribute name="collection-type">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="choice"/>
               <xs:enumeration value="family"/>
               <xs:enumeration value="sequence"/>
               <xs:enumeration value="unordered"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="cascade" type="xs:string"/>
      <xs:attribute name="processing-role" default="resource-only">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="normal"/>
               <xs:enumeration value="resource-only"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scope">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="external"/>
               <xs:enumeration value="local"/>
               <xs:enumeration value="peer"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format" type="xs:string"/>
      <xs:attribute name="linking">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="none"/>
               <xs:enumeration value="normal"/>
               <xs:enumeration value="sourceonly"/>
               <xs:enumeration value="targetonly"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc" default="no">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="no"/>
               <xs:enumeration value="yes"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="topicSubjectTable">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="topicSubjectTable.class">
               <xs:attribute ref="class" default="+ map/reltable classify-d/topicSubjectTable "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="topicSubjectTable.class">
      <xs:sequence>
         <xs:group ref="topicSubjectTable.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="topicSubjectTable.attributes"/>
   </xs:complexType>
   <xs:group name="topicSubjectTable.content">
      <xs:sequence>
         <xs:group ref="title" minOccurs="0"/>
         <xs:group ref="topicmeta" minOccurs="0"/>
         <xs:group ref="topicSubjectHeader" minOccurs="0"/>
         <xs:group ref="topicSubjectRow" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="topicSubjectTable.attributes">
      <xs:attributeGroup ref="topicref-atts-no-toc"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="topicSubjectHeader">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="topicSubjectHeader.class">
               <xs:attribute ref="class" default="+ map/relrow classify-d/topicSubjectHeader "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="topicSubjectHeader.class">
      <xs:sequence>
         <xs:group ref="topicSubjectHeader.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="topicSubjectHeader.attributes"/>
   </xs:complexType>
   <xs:group name="topicSubjectHeader.content">
      <xs:sequence>
         <xs:group ref="topicCell"/>
         <xs:group ref="subjectCell" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="topicSubjectHeader.attributes">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="topicSubjectRow">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="topicSubjectRow.class">
               <xs:attribute ref="class" default="+ map/relrow classify-d/topicSubjectRow "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="topicSubjectRow.class">
      <xs:sequence>
         <xs:group ref="topicSubjectRow.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="topicSubjectRow.attributes"/>
   </xs:complexType>
   <xs:group name="topicSubjectRow.content">
      <xs:sequence>
         <xs:group ref="topicCell"/>
         <xs:group ref="subjectCell" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="topicSubjectRow.attributes">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="topicCell">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="topicCell.class">
               <xs:attribute ref="class" default="+ map/relcell classify-d/topicCell "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="topicCell.class">
      <xs:sequence>
         <xs:group ref="topicCell.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="topicCell.attributes"/>
   </xs:complexType>
   <xs:group name="topicCell.content">
      <xs:sequence>
         <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:group ref="data.elements.incl"/>
            <xs:group ref="topicref"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="topicCell.attributes">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attributeGroup ref="topicref-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="subjectCell">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="subjectCell.class">
               <xs:attribute ref="class" default="+ map/relcell classify-d/subjectCell "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="subjectCell.class">
      <xs:sequence>
         <xs:group ref="subjectCell.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="subjectCell.attributes"/>
   </xs:complexType>
   <xs:group name="subjectCell.content">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="data.elements.incl"/>
            <xs:group ref="subjectref"/>
            <xs:group ref="topicref"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="subjectCell.attributes">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attributeGroup ref="topicref-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
</xs:schema>
