.github/dita-ot-3.3.3/plugins/org.oasis-open.dita.v1_3/rng/base/rng/highlightDomain.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng"
                         schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:dita="http://dita.oasis-open.org/architecture/2005/" 
  xmlns="http://relaxng.org/ns/structure/1.0">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>DITA Highlight Domain</moduleTitle>
    <headerComment>
MODULE: DITA Highlight Domain VERSION: 1.2 DATE:
November 2009 

SYSTEM: Darwin Information Typing Architecture (DITA)
PURPOSE: Define elements and specialization attributes for Highlight Domain 

ORIGINAL CREATION DATE: March 2001 

(C) Copyright OASIS Open 2005, 2009. 
(C) Copyright IBM Corporation 2001, 2004. All Rights Reserved.

UPDATES: 
2005.11.15 RDA: Corrected descriptive names for all elements except bold 
2005.11.15 RDA: Corrected the "Delivered as" system ID 
2007.12.01 WEK: Reformatted DTD modulesfor DITA 1.2  
2008.02.13 RDA: Create .content and .attributes entities 
      </headerComment>
    <moduleMetadata>
      <moduleType>elementdomain</moduleType>
      <moduleShortName>hi-d</moduleShortName>
      <modulePublicIds>
        <dtdMod>-//OASIS//ELEMENTS DITA<var presep=" " name="ditaver"/> Highlight Domain//EN</dtdMod>
        <dtdEnt>-//OASIS//ENTITIES DITA<var presep=" " name="ditaver"/> Highlight Domain//EN</dtdEnt>
        <xsdMod>urn:oasis:names:tc:dita:xsd:highlightDomain.xsd<var presep=":" name="ditaver"/></xsdMod>
        <rncMod>urn:oasis:names:tc:dita:rnc:highlightDomain.rnc<var presep=":" name="ditaver"/></rncMod>
        <rngMod>urn:oasis:names:tc:dita:rng:highlightDomain.rng<var presep=":" name="ditaver"/></rngMod>
      </modulePublicIds>
      <domainsContribution>(topic hi-d)</domainsContribution>
    </moduleMetadata>
  </moduleDesc>

  <div>
    <a:documentation>DOMAIN EXTENSION PATTERNS</a:documentation>

    <define name="hi-d-ph">
      <choice>
        <ref name="b.element"/>
        <ref name="i.element"/>
        <ref name="line-through.element" dita:since="1.3"/>
        <ref name="overline.element" dita:since="1.3"/>
        <ref name="sup.element"/>
        <ref name="sub.element"/>
        <ref name="tt.element"/>
        <ref name="u.element"/>
      </choice>
    </define>

    <define name="ph" combine="choice">
      <ref name="hi-d-ph"/>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>
    <define name="b">
      <ref name="b.element"/>
    </define>
    <define name="i">
      <ref name="i.element"/>
    </define>
    <define name="line-through">
      <ref name="line-through.element"/>
    </define>
    <define name="overline">
      <ref name="overline.element"/>
    </define>
    <define name="sup">
      <ref name="sup.element"/>
    </define>
    <define name="sub">
      <ref name="sub.element"/>
    </define>
    <define name="tt">
      <ref name="tt.element"/>
    </define>
    <define name="u">
      <ref name="u.element"/>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE DECLARATIONS</a:documentation>
    <div>
      <a:documentation>LONG NAME: Bold</a:documentation>
      <define name="b.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="data.elements.incl"/>
            <ref name="draft-comment" dita:since="1.3"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="required-cleanup" dita:since="1.3"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="b.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="b.element">
        <element name="b" dita:longName="Bold">
          <a:documentation>The bold (&lt;b>) element is used to apply bold highlighting to the content of the element. Use this element only when there is not some other more proper element. For
            example, for specific items such as GUI controls, use the &lt;uicontrol> element. This element is part of the DITA highlighting domain. Category: Typographic elements</a:documentation>
          <ref name="b.attlist"/>
          <ref name="b.content"/>
        </element>
      </define>
      <define name="b.attlist" combine="interleave">
        <ref name="b.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Underline</a:documentation>
      <define name="u.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="data.elements.incl"/>
            <ref name="draft-comment" dita:since="1.3"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="required-cleanup" dita:since="1.3"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="u.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="u.element">
        <element name="u" dita:longName="Underlined">
          <a:documentation>The underline (&lt;u>) element is used to apply underline highlighting to the content of the element. Category: Typographic elements</a:documentation>
          <ref name="u.attlist"/>
          <ref name="u.content"/>
        </element>
      </define>
      <define name="u.attlist" combine="interleave">
        <ref name="u.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Italic</a:documentation>
      <define name="i.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="data.elements.incl"/>
            <ref name="draft-comment" dita:since="1.3"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="required-cleanup" dita:since="1.3"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="i.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="i.element">
        <element name="i" dita:longName="Italic">
          <a:documentation>The italic (&lt;i>) element is used to apply italic highlighting to the content of the element. Category: Typographic elements</a:documentation>
          <ref name="i.attlist"/>
          <ref name="i.content"/>
        </element>
      </define>
      <define name="i.attlist" combine="interleave">
        <ref name="i.attributes"/>
      </define>
    </div>    <div>
      <a:documentation>LONG NAME: Line through</a:documentation>
      <define name="line-through.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="data.elements.incl"/>
            <ref name="draft-comment" dita:since="1.3"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="required-cleanup" dita:since="1.3"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="line-through.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="line-through.element">
        <element name="line-through" dita:longName="Line through" 
          dita:since="1.3">
          <a:documentation>Category: Typographic elements </a:documentation>
          <ref name="line-through.attlist"/>
          <ref name="line-through.content"/>
        </element>
      </define>
      <define name="line-through.attlist" combine="interleave">
        <ref name="line-through.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Overline</a:documentation>
      <define name="overline.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="data.elements.incl"/>
            <ref name="draft-comment" dita:since="1.3"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="required-cleanup" dita:since="1.3"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="overline.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="overline.element">
        <element name="overline" dita:longName="Overline"
          dita:since="1.3">
          <a:documentation>Category: Typographic elements </a:documentation>
          <ref name="overline.attlist"/>
          <ref name="overline.content"/>
        </element>
      </define>
      <define name="overline.attlist" combine="interleave">
        <ref name="overline.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Typewriter</a:documentation>
      <define name="tt.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="data.elements.incl"/>
            <ref name="draft-comment" dita:since="1.3"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="required-cleanup" dita:since="1.3"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="tt.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="tt.element">
        <element name="tt" dita:longName="Teletype (monospaced)">
          <a:documentation> The teletype (&lt;tt>) element is used to apply monospaced highlighting to the content of the element. Category: Typographic elements </a:documentation>
          <ref name="tt.attlist"/>
          <ref name="tt.content"/>
        </element>
      </define>
      <define name="tt.attlist" combine="interleave">
        <ref name="tt.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Superscript</a:documentation>
      <define name="sup.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="data.elements.incl"/>
            <ref name="draft-comment" dita:since="1.3"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="required-cleanup" dita:since="1.3"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="sup.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="sup.element">
        <element name="sup" dita:longName="Superscript">
          <a:documentation>The superscript (&lt;sup>) element indicates that text should be superscripted, or vertically raised in relationship to the surrounding text. Superscripts are usually a
            smaller font than the surrounding text. Use this element only when there is not some other more proper tag. This element is part of the DITA highlighting domain. Category: Typographic
            elements</a:documentation>
          <ref name="sup.attlist"/>
          <ref name="sup.content"/>
        </element>
      </define>
      <define name="sup.attlist" combine="interleave">
        <ref name="sup.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Subscript</a:documentation>
      <define name="sub.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="data.elements.incl"/>
            <ref name="draft-comment" dita:since="1.3"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="required-cleanup" dita:since="1.3"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="sub.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="sub.element">
        <element name="sub" dita:longName="Subscript">
          <a:documentation>A subscript (&lt;sub>) indicates that text should be subscripted, or placed lower in relationship to the surrounding text. Subscripted text is often a smaller font than the
            surrounding text. Formatting may vary depending on your output process. This element is part of the DITA highlighting domain. Category: Typographic elements</a:documentation>
          <ref name="sub.attlist"/>
          <ref name="sub.content"/>
        </element>
      </define>
      <define name="sub.attlist" combine="interleave">
        <ref name="sub.attributes"/>
      </define>
    </div>
  </div>
  <div>
    <a:documentation>SPECIALIZATION ATTRIBUTE DECLARATIONS</a:documentation>
    <define name="b.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph hi-d/b "/>
      </optional>
    </define>
    <define name="i.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph hi-d/i "/>
      </optional>
    </define>
    <define name="line-through.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph hi-d/line-through "/>
      </optional>
    </define>
    <define name="overline.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph hi-d/overline "/>
      </optional>
    </define>
    <define name="sub.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph hi-d/sub "/>
      </optional>
    </define>
    <define name="sup.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph hi-d/sup "/>
      </optional>
    </define>
    <define name="tt.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph hi-d/tt "/>
      </optional>
    </define>
    <define name="u.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph hi-d/u "/>
      </optional>
    </define>
  </div>
</grammar>
