.github/dita-ot-3.3.3/plugins/org.oasis-open.dita.v1_3/schema/technicalContent/xsd/svg/svg11/svg-basic-font.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import schemaLocation="local.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="svg-core-attrib.xsd"/>
  <xs:complexType name="SVG.font.content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:SVG.Description.class"/>
      <xs:element ref="svg:font-face"/>
      <xs:element ref="svg:missing-glyph"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="svg:glyph"/>
        <xs:element ref="svg:hkern"/>
        <xs:element ref="svg:vkern"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="font" substitutionGroup="svg:SVG.Font.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.font.content">
          <xs:attributeGroup ref="svg:attlist.font"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.font">
    <xs:attributeGroup ref="xml:SVG.Core.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Style.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Presentation.attrib"/>
    <xs:attributeGroup ref="SVG.External.attrib"/>
    <xs:attribute name="horiz-origin-x" type="svg:Number.datatype"/>
    <xs:attribute name="horiz-origin-y" type="svg:Number.datatype"/>
    <xs:attribute name="horiz-adv-x" use="required" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-y" type="svg:Number.datatype"/>
    <xs:attribute name="vert-adv-y" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:element name="font-face" substitutionGroup="svg:SVG.Font.class" abstract="true"/>
  <xs:attributeGroup name="attlist.font-face">
    <xs:attributeGroup ref="xml:SVG.Core.attrib"/>
    <xs:attribute name="font-family"/>
    <xs:attribute name="font-style"/>
    <xs:attribute name="font-variant"/>
    <xs:attribute name="font-weight"/>
    <xs:attribute name="font-stretch"/>
    <xs:attribute name="font-size"/>
    <xs:attribute name="unicode-range"/>
    <xs:attribute name="units-per-em" type="svg:Number.datatype"/>
    <xs:attribute name="panose-1"/>
    <xs:attribute name="stemv" type="svg:Number.datatype"/>
    <xs:attribute name="stemh" type="svg:Number.datatype"/>
    <xs:attribute name="slope" type="svg:Number.datatype"/>
    <xs:attribute name="cap-height" type="svg:Number.datatype"/>
    <xs:attribute name="x-height" type="svg:Number.datatype"/>
    <xs:attribute name="accent-height" type="svg:Number.datatype"/>
    <xs:attribute name="ascent" type="svg:Number.datatype"/>
    <xs:attribute name="descent" type="svg:Number.datatype"/>
    <xs:attribute name="widths"/>
    <xs:attribute name="bbox"/>
    <xs:attribute name="ideographic" type="svg:Number.datatype"/>
    <xs:attribute name="alphabetic" type="svg:Number.datatype"/>
    <xs:attribute name="mathematical" type="svg:Number.datatype"/>
    <xs:attribute name="hanging" type="svg:Number.datatype"/>
    <xs:attribute name="v-ideographic" type="svg:Number.datatype"/>
    <xs:attribute name="v-alphabetic" type="svg:Number.datatype"/>
    <xs:attribute name="v-mathematical" type="svg:Number.datatype"/>
    <xs:attribute name="v-hanging" type="svg:Number.datatype"/>
    <xs:attribute name="underline-position" type="svg:Number.datatype"/>
    <xs:attribute name="underline-thickness" type="svg:Number.datatype"/>
    <xs:attribute name="strikethrough-position" type="svg:Number.datatype"/>
    <xs:attribute name="strikethrough-thickness" type="svg:Number.datatype"/>
    <xs:attribute name="overline-position" type="svg:Number.datatype"/>
    <xs:attribute name="overline-thickness" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:group name="SVG.glyph.class">
    <xs:choice>
      <xs:element ref="svg:SVG.Animation.class"/>
      <xs:element ref="svg:SVG.Structure.class"/>
      <xs:element ref="svg:SVG.Conditional.class"/>
      <xs:element ref="svg:SVG.Image.class"/>
      <xs:element ref="svg:SVG.Style.class"/>
      <xs:element ref="svg:SVG.Shape.class"/>
      <xs:element ref="svg:SVG.Text.class"/>
      <xs:element ref="svg:SVG.Marker.class"/>
      <xs:element ref="svg:SVG.Profile.class"/>
      <xs:element ref="svg:SVG.Gradient.class"/>
      <xs:element ref="svg:SVG.Pattern.class"/>
      <xs:element ref="svg:SVG.Clip.class"/>
      <xs:element ref="svg:SVG.Mask.class"/>
      <xs:element ref="svg:SVG.Filter.class"/>
      <xs:element ref="svg:SVG.Cursor.class"/>
      <xs:element ref="svg:SVG.Hyperlink.class"/>
      <xs:element ref="svg:SVG.View.class"/>
      <xs:element ref="svg:SVG.Script.class"/>
      <xs:element ref="svg:SVG.Font.class"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="SVG.glyph.content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:SVG.Description.class"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="svg:SVG.glyph.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="glyph">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.glyph.content">
          <xs:attributeGroup ref="svg:attlist.glyph"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.glyph">
    <xs:attributeGroup ref="xml:SVG.Core.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Style.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Presentation.attrib"/>
    <xs:attribute name="unicode"/>
    <xs:attribute name="glyph-name"/>
    <xs:attribute name="d" type="svg:PathData.datatype"/>
    <xs:attribute name="orientation"/>
    <xs:attribute name="arabic-form"/>
    <xs:attribute name="lang" type="svg:LanguageCodes.datatype"/>
    <xs:attribute name="horiz-adv-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-y" type="svg:Number.datatype"/>
    <xs:attribute name="vert-adv-y" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:group name="SVG.missing-glyph.class">
    <xs:choice>
      <xs:element ref="svg:SVG.Animation.class"/>
      <xs:element ref="svg:SVG.Structure.class"/>
      <xs:element ref="svg:SVG.Conditional.class"/>
      <xs:element ref="svg:SVG.Image.class"/>
      <xs:element ref="svg:SVG.Style.class"/>
      <xs:element ref="svg:SVG.Shape.class"/>
      <xs:element ref="svg:SVG.Text.class"/>
      <xs:element ref="svg:SVG.Marker.class"/>
      <xs:element ref="svg:SVG.Profile.class"/>
      <xs:element ref="svg:SVG.Gradient.class"/>
      <xs:element ref="svg:SVG.Pattern.class"/>
      <xs:element ref="svg:SVG.Clip.class"/>
      <xs:element ref="svg:SVG.Mask.class"/>
      <xs:element ref="svg:SVG.Filter.class"/>
      <xs:element ref="svg:SVG.Cursor.class"/>
      <xs:element ref="svg:SVG.Hyperlink.class"/>
      <xs:element ref="svg:SVG.View.class"/>
      <xs:element ref="svg:SVG.Script.class"/>
      <xs:element ref="svg:SVG.Font.class"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="SVG.missing-glyph.content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:SVG.Description.class"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="svg:SVG.missing-glyph.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="missing-glyph">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.missing-glyph.content">
          <xs:attributeGroup ref="svg:attlist.missing-glyph"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.missing-glyph">
    <xs:attributeGroup ref="xml:SVG.Core.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Style.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Presentation.attrib"/>
    <xs:attribute name="d" type="svg:PathData.datatype"/>
    <xs:attribute name="horiz-adv-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-y" type="svg:Number.datatype"/>
    <xs:attribute name="vert-adv-y" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:element name="hkern">
    <xs:complexType>
      <xs:attributeGroup ref="svg:attlist.hkern"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.hkern">
    <xs:attributeGroup ref="xml:SVG.Core.attrib"/>
    <xs:attribute name="u1"/>
    <xs:attribute name="g1"/>
    <xs:attribute name="u2"/>
    <xs:attribute name="g2"/>
    <xs:attribute name="k" use="required" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:element name="vkern">
    <xs:complexType>
      <xs:attributeGroup ref="svg:attlist.vkern"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.vkern">
    <xs:attributeGroup ref="xml:SVG.Core.attrib"/>
    <xs:attribute name="u1"/>
    <xs:attribute name="g1"/>
    <xs:attribute name="u2"/>
    <xs:attribute name="g2"/>
    <xs:attribute name="k" use="required" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:complexType name="SVG.font-face-src.content">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="svg:font-face-uri"/>
      <xs:element ref="svg:font-face-name"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="font-face-src">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.font-face-src.content">
          <xs:attributeGroup ref="svg:attlist.font-face-src"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.font-face-src">
    <xs:attributeGroup ref="xml:SVG.Core.attrib"/>
  </xs:attributeGroup>
  <xs:complexType name="SVG.font-face-uri.content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:font-face-format"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="font-face-uri">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.font-face-uri.content">
          <xs:attributeGroup ref="svg:attlist.font-face-uri"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.font-face-uri">
    <xs:attributeGroup ref="xml:SVG.Core.attrib"/>
    <xs:attributeGroup ref="xlink:SVG.XLinkRequired.attrib"/>
  </xs:attributeGroup>
  <xs:element name="font-face-name">
    <xs:complexType>
      <xs:attributeGroup ref="svg:attlist.font-face-name"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.font-face-name">
    <xs:attributeGroup ref="xml:SVG.Core.attrib"/>
    <xs:attribute name="name"/>
  </xs:attributeGroup>
</xs:schema>
