.github/dita-ot-3.3.3/plugins/org.dita.specialization.dita11/schema/highlightDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!--                    HEADER                                     -->
<!-- ============================================================= -->
<!--  MODULE:    DITA Highlight Domain                             -->
<!--  VERSION:   1.1                                             -->
<!--  DATE:      November 2006                                     -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA)     -->
<!--                                                               -->
<!-- PURPOSE:    Define elements and specialization attributes     -->
<!--             for Highlight Domain                              -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             March 2001                                        -->
<!--                                                               -->
<!--             (C) Copyright OASIS-Open.org 2005, 2006            -->
<!--             (C) Copyright IBM Corporation 2001, 2004.         -->
<!--             All Rights Reserved.                              -->
<!-- ============================================================= -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:group name="hi-d-ph">
    <xs:choice>
      <xs:element ref="sup" />
      <xs:element ref="sub" />
      <xs:element ref="tt" />
      <xs:element ref="b" />
      <xs:element ref="u" />
      <xs:element ref="i" />
    </xs:choice>
  </xs:group>
  
  <xs:group name="sup">
    <xs:choice>
      <xs:element ref="sup"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="sub">
    <xs:choice>
      <xs:element ref="sub"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="tt">
    <xs:choice>
      <xs:element ref="tt"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="b">
    <xs:choice>
      <xs:element ref="b"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="u">
    <xs:choice>
      <xs:element ref="u"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="i">
    <xs:choice>
      <xs:element ref="i"/>
    </xs:choice>
  </xs:group>

  <!-- Basic form: Single Effect Formatting Phrases -->
  <xs:element name="sup">
    <xs:annotation>
      <xs:documentation>
        The superscript (&lt;<keyword>sup</keyword>&gt;) element indicates that text should
        be superscripted, or vertically raised in relationship to the surrounding
        text.  Superscripts are usually a smaller font than the surrounding text.
        Use this element only when there is not some other more proper tag. For example,
        for specific items such as GUI controls, use the <ph>
          <xref href="uicontrol.xml">uicontrol</xref>
        </ph> tag. This element is part of the DITA highlighting
        domain.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="sup.class">
          <xs:attribute ref="class" default="+ topic/ph hi-d/sup "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="sup.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="basic.ph"/>
          <xs:group ref="data.element.incl"/>
          <xs:group ref="foreign.unknown.incl"/>
        </xs:choice>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
  </xs:complexType>

  <xs:element name="sub">
    <xs:annotation>
      <xs:documentation>
        A subscript (&lt;<keyword>sub</keyword>&gt;) indicates that text should be subscripted,
        or placed lower in relationship to the surrounding text.  Subscripted text
        is often a smaller font than the surrounding text. Formatting may vary depending
        on your output process. This element is part of the DITA highlighting domain.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="sub.class">
          <xs:attribute ref="class" default="+ topic/ph hi-d/sub "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="sub.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="basic.ph"/>
          <xs:group ref="data.element.incl"/>
          <xs:group ref="foreign.unknown.incl"/>
        </xs:choice>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
  </xs:complexType>

  <xs:element name="tt">
    <xs:annotation>
      <xs:documentation>
        The teletype (&lt;<keyword>tt</keyword>&gt;) element is used to apply monospaced
        highlighting to the content of the element.  Use this element only when there
        is not some other more proper tag. For example, for specific items such as
        GUI controls, use the <ph>
          <xref href="uicontrol.xml">uicontrol</xref>
        </ph> tag.
        This element is part of the DITA highlighting domain.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="tt.class">
          <xs:attribute ref="class" default="+ topic/ph hi-d/tt "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tt.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="basic.ph"/>
          <xs:group ref="data.element.incl"/>
          <xs:group ref="foreign.unknown.incl"/>
        </xs:choice>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
  </xs:complexType>

  <xs:element name="b">
    <xs:annotation>
      <xs:documentation>
        The bold (&lt;<keyword>b</keyword>&gt;) element is used to apply bold highlighting
        to the content of the element. Use this element only when there is not some
        other more proper tag. For example, for specific items such as GUI controls,
        use the <ph>
          <xref href="uicontrol.xml">uicontrol</xref>
        </ph> tag.
        This element is part of the DITA highlighting domain.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="b.class">
          <xs:attribute ref="class" default="+ topic/ph hi-d/b "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="b.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="basic.ph"/>
          <xs:group ref="data.element.incl"/>
          <xs:group ref="foreign.unknown.incl"/>
        </xs:choice>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
  </xs:complexType>

  <xs:element name="u">
    <xs:annotation>
      <xs:documentation>
        The underline (&lt;<keyword>u</keyword>&gt;) element is used to apply
        underline highlighting to the content of the element.  Use this element only
        when there is not some other more proper tag. For example, for specific items
        such as GUI controls, use the <ph>
          <xref href="uicontrol.xml">uicontrol</xref>
        </ph> tag.
        This element is part of the DITA highlighting domain.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="u.class">
          <xs:attribute ref="class" default="+ topic/ph hi-d/u "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="u.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="basic.ph"/>
          <xs:group ref="data.element.incl"/>
          <xs:group ref="foreign.unknown.incl"/>
        </xs:choice>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
  </xs:complexType>

  <xs:element name="i">
    <xs:annotation>
      <xs:documentation>
        The italic (&lt;i&gt;) element is used to apply italic highlighting
        to the content of the element. Use this element only when there
        is not some other more proper tag. For example, for specific items such as
        GUI controls, use the <ph>
          <xref href="uicontrol.xml">uicontrol</xref>
        </ph> tag.
        Italic highlighting generally means a font that is slanted for emphasis, but
        this may vary depending on your output formatting process. This element is
        part of the DITA highlighting domain.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="i.class">
          <xs:attribute ref="class" default="+ topic/ph hi-d/i "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="i.class" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="basic.ph"/>
          <xs:group ref="data.element.incl"/>
          <xs:group ref="foreign.unknown.incl"/>
        </xs:choice>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
  </xs:complexType>

</xs:schema>
