.github/dita-ot-3.3.3/plugins/org.oasis-open.dita.v1_2/schema/base/xsd/commonElementGrp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!--                    HEADER                                     -->
<!-- ============================================================= -->
<!--  MODULE:    DITA Common Element  XSD Group Decleration                -->
<!--  VERSION:   1.2                                             -->
<!--  DATE:      November 2009                                     -->
<!--                                                               -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA)     -->
<!--                                                               -->
<!-- PURPOSE:    W3C XML Schema to describe DITA common elements          -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             June 2006                                        -->
<!--                                                               -->
<!--             (C) Copyright OASIS-Open.org 2006, 2009                -->
<!--             All Rights Reserved.                              -->
<!-- ============================================================= -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    
  <xs:group name="title">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="title"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="keyword">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="keyword"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="desc">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="desc"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="ph">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="ph"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="term">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="term"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="text">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="text"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="tm">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="tm"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="boolean">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="boolean"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="state">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="state"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="p">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="p"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="longquoteref">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="longquoteref"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
  
  <xs:group name="lq">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="lq"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
  
  <xs:group name="longdescref">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="longdescref"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="note">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="note"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="q">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="q"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="ul">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="ul"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="ol">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="ol"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="sl">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="sl"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="sli">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="sli"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="li">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="li"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="itemgroup">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="itemgroup"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="dl">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="dl"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="dlhead">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="dlhead"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="ddhd">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="ddhd"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="dthd">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="dthd"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="dlentry">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="dlentry"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="dt">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="dt"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="dd">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="dd"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="fig">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="fig"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="figgroup">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="figgroup"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="pre">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="pre"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="lines">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="lines"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="image">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="image"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="alt">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="alt"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="object">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="object"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="param">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="param"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="simpletable">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="simpletable"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="sthead">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="sthead"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="strow">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="strow"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="stentry">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="stentry"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="draft-comment">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="draft-comment"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="required-cleanup">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="required-cleanup"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="fn">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="fn"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="indextermref">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="indextermref"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="cite">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="cite"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="xref">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="xref"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="data">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="data"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="data-about">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="data-about"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="foreign">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="foreign"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="indexterm">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="indexterm"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="index-base">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="index-base"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="unknown">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="unknown"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="navtitle">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="navtitle"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="shortdesc">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="shortdesc"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
    
    <xs:attributeGroup name="props-attribute-extensions"/>
    
    <xs:attributeGroup name="base-attribute-extensions"/>
    
</xs:schema>