.github/dita-ot-3.3.3/plugins/org.oasis-open.dita.v1_3/schema/technicalContent/xsd/glossentryMod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--=============================================================-->
<!--                   HEADER                                    -->
<!--=============================================================-->
<!-- MODULE:    DITA Glossary                                    -->
<!-- VERSION:   1.2                                              -->
<!-- DATE:      November 2009                                    -->
<!--                                                             -->
<!--=============================================================-->
<!--=============================================================-->
<!--                   PUBLIC DOCUMENT TYPE DEFINITION           -->
<!--                   TYPICAL INVOCATION                        -->
<!--                                                             -->
<!-- Refer to this file by the following public identifier or an -->
<!--      appropriate system identifier                          -->
<!--PUBLIC "-//OASIS//ELEMENTS DITA Glossary Entry//EN"          -->
<!--      Delivered as file "glossentry.mod"                            -->
<!--=============================================================-->
<!--SYSTEM:     Darwin Information Typing Architecture (DITA)    -->
<!--                                                             -->
<!--PURPOSE:    Define elements and specialization atttributes   -->
<!--            for Glossary topics                              -->
<!--                                                             -->
<!--ORIGINAL CREATION DATE:                                      -->
<!--            June 2006                                        -->
<!--                                                             -->
<!--            (C) Copyright OASIS Open 2006, 2009.             -->
<!--            All Rights Reserved.                             -->
<!--                                                             -->
<!-- UPDATES:                                                    -->
<!--   2007.12.01 EK:  Reformatted DTD modules for DITA 1.2       -->
<!--   2008.01.30 RDA: Replace @conref defn. with %conref-atts;  -->
<!--   2008.02.12 RDA: Expand glossary for DITA 1.2               -->
<!--   2008.02.13 RDA: Create .content and .attributes entities  -->
<!--   2009.09.21 WEK: Renamed glossentry.mod                    -->
<!--=============================================================-->
<!--                                                             -->
<xs:schema xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- ==================== Import Section ======================= -->
   <xs:import namespace="http://dita.oasis-open.org/architecture/2005/"
              schemaLocation="urn:oasis:names:tc:dita:xsd:ditaarch.xsd:1.3"/>

   <xs:annotation>
      <xs:appinfo>
         <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(topic concept glossentry)</dita:domainsModule>
      </xs:appinfo>
   </xs:annotation>

   <xs:group name="glossentry-info-types">
      <xs:sequence>
         <xs:choice>
            <xs:group ref="no-topic-nesting"/>
            <xs:group ref="info-types"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="glossentry">
      <xs:annotation>
         <xs:documentation>The &lt;glossentry&gt; element defines a single sense of a glossary term. The expected book processing is to sort and group the glossary entries based on the localized term so
            a back-of-the-book glossary can contain a collated list of terms with the definitions of the senses of the terms indented under the terms. The glossary can have a different organization in
            different languages depending on the translation of the terms. One possible online processing is to associate a hotspot for mentions of terms in &lt;term&gt; elements and display the
            definition on hover or click. Glossary entries for different term senses can be reused independently of one another. Category: Glossentry elements</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossentry.class">
               <xs:attribute ref="class"
                             default="- topic/topic concept/concept glossentry/glossentry "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossentry.class">
      <xs:sequence>
         <xs:group ref="glossentry.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossentry.attributes"/>
   </xs:complexType>
   <xs:group name="glossentry.content">
      <xs:sequence>
         <xs:group ref="glossterm"/>
         <xs:group ref="glossdef" minOccurs="0"/>
         <xs:group ref="prolog" minOccurs="0"/>
         <xs:group ref="glossBody" minOccurs="0"/>
         <xs:group ref="related-links" minOccurs="0"/>
         <xs:group ref="glossentry-info-types" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossentry.attributes">
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attributeGroup ref="conref-atts"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="localization-atts"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attribute ref="ditaarch:DITAArchVersion"/>
      <xs:attributeGroup ref="domains-att"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="glossentry.attlist">
      <xs:attribute ref="ditaarch:DITAArchVersion"/>
      <xs:attributeGroup ref="domains-att"/>
   </xs:attributeGroup>
   <xs:element name="glossterm">
      <xs:annotation>
         <xs:documentation>The &lt;glossterm&gt; element specifies the preferred term associated with a definition of a sense. If the same term has multiple senses, create a separate &lt;glossentry&gt;
            topic for each sense. Category: Glossentry elements</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossterm.class">
               <xs:attribute ref="class" default="- topic/title concept/title glossentry/glossterm "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossterm.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossterm.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossterm.attributes"/>
   </xs:complexType>
   <xs:group name="glossterm.content">
      <xs:sequence>
         <xs:group ref="title.cnt" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossterm.attributes">
      <xs:attributeGroup ref="id-atts"/>
      <xs:attributeGroup ref="localization-atts"/>
      <xs:attribute name="base" type="xs:string"/>
      <xs:attributeGroup ref="base-attribute-extensions"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossdef">
      <xs:annotation>
         <xs:documentation>The &lt;glossdef&gt; element specifies the definition of one sense of a term. If a term has multiple senses, create a separate &lt;glossentry&gt; topic to define each sense.
            Category: Glossentry elements</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossdef.class">
               <xs:attribute ref="class"
                             default="- topic/abstract concept/abstract glossentry/glossdef "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossdef.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossdef.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossdef.attributes"/>
   </xs:complexType>
   <xs:group name="glossdef.content">
      <xs:sequence>
         <xs:group ref="abstract.cnt" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossdef.attributes">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossBody">
      <xs:annotation>
         <xs:documentation>The &lt;glossbody&gt; element is used to provide details about a glossary term (such as part of speech or additional forms of the term).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossBody.class">
               <xs:attribute ref="class"
                             default="- topic/body concept/conbody glossentry/glossBody "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossBody.class">
      <xs:sequence>
         <xs:group ref="glossBody.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossBody.attributes"/>
   </xs:complexType>
   <xs:group name="glossBody.content">
      <xs:sequence>
         <xs:group ref="glossPartOfSpeech" minOccurs="0"/>
         <xs:group ref="glossStatus" minOccurs="0"/>
         <xs:group ref="glossProperty" minOccurs="0" maxOccurs="unbounded"/>
         <xs:group ref="glossSurfaceForm" minOccurs="0"/>
         <xs:group ref="glossUsage" minOccurs="0"/>
         <xs:group ref="glossScopeNote" minOccurs="0"/>
         <xs:group ref="glossSymbol" minOccurs="0" maxOccurs="unbounded"/>
         <xs:group ref="note" minOccurs="0" maxOccurs="unbounded"/>
         <xs:group ref="glossAlt" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossBody.attributes">
      <xs:attributeGroup ref="id-atts"/>
      <xs:attributeGroup ref="localization-atts"/>
      <xs:attribute name="base" type="xs:string"/>
      <xs:attributeGroup ref="base-attribute-extensions"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossAbbreviation">
      <xs:annotation>
         <xs:documentation>The &lt;glossAbbreviation&gt; element provides an abbreviated form of the term contained in a &lt;glossterm&gt; element. </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossAbbreviation.class">
               <xs:attribute ref="class"
                             default="- topic/title concept/title glossentry/glossAbbreviation "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossAbbreviation.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossAbbreviation.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossAbbreviation.attributes"/>
   </xs:complexType>
   <xs:group name="glossAbbreviation.content">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="keyword"/>
            <xs:group ref="term"/>
            <xs:group ref="text"/>
            <xs:group ref="tm"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossAbbreviation.attributes">
      <xs:attributeGroup ref="id-atts"/>
      <xs:attributeGroup ref="localization-atts"/>
      <xs:attribute name="base" type="xs:string"/>
      <xs:attributeGroup ref="base-attribute-extensions"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossAcronym">
      <xs:annotation>
         <xs:documentation>The &lt;glossAcronym&gt; element defines an acronym as an alternate form for the term defined in the &lt;glossterm&gt; element.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossAcronym.class">
               <xs:attribute ref="class"
                             default="- topic/title concept/title glossentry/glossAcronym "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossAcronym.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossAcronym.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossAcronym.attributes"/>
   </xs:complexType>
   <xs:group name="glossAcronym.content">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="keyword"/>
            <xs:group ref="term"/>
            <xs:group ref="text"/>
            <xs:group ref="tm"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossAcronym.attributes">
      <xs:attributeGroup ref="id-atts"/>
      <xs:attributeGroup ref="localization-atts"/>
      <xs:attribute name="base" type="xs:string"/>
      <xs:attributeGroup ref="base-attribute-extensions"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossShortForm">
      <xs:annotation>
         <xs:documentation>The &lt;glossShortForm&gt; element provides a shorter alternative to the primary term specified in the &lt;glossterm&gt; element.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossShortForm.class">
               <xs:attribute ref="class"
                             default="- topic/title concept/title glossentry/glossShortForm "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossShortForm.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossShortForm.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossShortForm.attributes"/>
   </xs:complexType>
   <xs:group name="glossShortForm.content">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="keyword"/>
            <xs:group ref="term"/>
            <xs:group ref="text"/>
            <xs:group ref="tm"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossShortForm.attributes">
      <xs:attributeGroup ref="id-atts"/>
      <xs:attributeGroup ref="localization-atts"/>
      <xs:attribute name="base" type="xs:string"/>
      <xs:attributeGroup ref="base-attribute-extensions"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossSynonym">
      <xs:annotation>
         <xs:documentation>Provides a term that is a synonym of the primary value in the &lt;glossterm&gt; element.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossSynonym.class">
               <xs:attribute ref="class"
                             default="- topic/title concept/title glossentry/glossSynonym "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossSynonym.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossSynonym.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossSynonym.attributes"/>
   </xs:complexType>
   <xs:group name="glossSynonym.content">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="keyword"/>
            <xs:group ref="term"/>
            <xs:group ref="text"/>
            <xs:group ref="tm"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossSynonym.attributes">
      <xs:attributeGroup ref="id-atts"/>
      <xs:attributeGroup ref="localization-atts"/>
      <xs:attribute name="base" type="xs:string"/>
      <xs:attributeGroup ref="base-attribute-extensions"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossPartOfSpeech">
      <xs:annotation>
         <xs:documentation>Identifies the part of speech for the preferred and alternate terms. Alternate terms must have the same part of speech as the preferred term because all terms in the
            glossentry topic designate the same subject. If the part of speech isn't specified, the default is a noun for the standard enumeration.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossPartOfSpeech.class">
               <xs:attribute ref="class"
                             default="- topic/data concept/data glossentry/glossPartOfSpeech "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossPartOfSpeech.class">
      <xs:sequence>
         <xs:group ref="glossPartOfSpeech.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossPartOfSpeech.attributes"/>
   </xs:complexType>
   <xs:group name="glossPartOfSpeech.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="glossPartOfSpeech.attributes">
      <xs:attributeGroup ref="data-element-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossStatus">
      <xs:annotation>
         <xs:documentation>Identifies the usage status of a preferred or alternate term. If the status isn't specified, the &lt;glossterm&gt; provides a preferred term and an alternate term provides an
            allowed term.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossStatus.class">
               <xs:attribute ref="class" default="- topic/data concept/data glossentry/glossStatus "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossStatus.class">
      <xs:sequence>
         <xs:group ref="glossStatus.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossStatus.attributes"/>
   </xs:complexType>
   <xs:group name="glossStatus.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="glossStatus.attributes">
      <xs:attributeGroup ref="data-element-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossProperty">
      <xs:annotation>
         <xs:documentation>The &lt;glossProperty&gt; element is an extension point which allows additional details about the preferred term or its subject.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossProperty.class">
               <xs:attribute ref="class"
                             default="- topic/data concept/data glossentry/glossProperty "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossProperty.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossProperty.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossProperty.attributes"/>
   </xs:complexType>
   <xs:group name="glossProperty.content">
      <xs:sequence>
         <xs:group ref="data.cnt" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossProperty.attributes">
      <xs:attributeGroup ref="data-element-atts"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossSurfaceForm">
      <xs:annotation>
         <xs:documentation> The &lt;glossSurfaceForm&gt; element specifies an unambiguous presentation of the &lt;glossterm&gt; that may combine multiple forms. The surface form is suitable to introduce the
            term in new contexts.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossSurfaceForm.class">
               <xs:attribute ref="class" default="- topic/p concept/p glossentry/glossSurfaceForm "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossSurfaceForm.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossSurfaceForm.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossSurfaceForm.attributes"/>
   </xs:complexType>
   <xs:group name="glossSurfaceForm.content">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="keyword"/>
            <xs:group ref="term"/>
            <xs:group ref="text"/>
            <xs:group ref="tm"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossSurfaceForm.attributes">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossUsage">
      <xs:annotation>
         <xs:documentation>The &lt;glossUsage&gt; element provides information about the correct use of a term, such as where or how it can be used.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossUsage.class">
               <xs:attribute ref="class" default="- topic/note concept/note glossentry/glossUsage "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossUsage.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossUsage.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossUsage.attributes"/>
   </xs:complexType>
   <xs:group name="glossUsage.content">
      <xs:sequence>
         <xs:group ref="note.cnt" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossUsage.attributes">
      <xs:attribute name="type">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="attention"/>
               <xs:enumeration value="caution"/>
               <xs:enumeration value="danger"/>
               <xs:enumeration value="fastpath"/>
               <xs:enumeration value="important"/>
               <xs:enumeration value="note"/>
               <xs:enumeration value="notice"/>
               <xs:enumeration value="other"/>
               <xs:enumeration value="remember"/>
               <xs:enumeration value="restriction"/>
               <xs:enumeration value="tip"/>
               <xs:enumeration value="warning"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="othertype" type="xs:string"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossScopeNote">
      <xs:annotation>
         <xs:documentation>A clarification of the subject designated by the &lt;glossterm&gt; such as examples of included or excluded companies or products. For instance, a scope note for
            "Linux" might explain that the term doesn't apply to UNIX products and give some examples of Linux products that are included as well as UNIX products that are
            excluded.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossScopeNote.class">
               <xs:attribute ref="class"
                             default="- topic/note concept/note glossentry/glossScopeNote "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossScopeNote.class" mixed="true">
      <xs:sequence>
         <xs:group ref="glossScopeNote.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossScopeNote.attributes"/>
   </xs:complexType>
   <xs:group name="glossScopeNote.content">
      <xs:sequence>
         <xs:group ref="note.cnt" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossScopeNote.attributes">
      <xs:attribute name="type">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="attention"/>
               <xs:enumeration value="caution"/>
               <xs:enumeration value="danger"/>
               <xs:enumeration value="fastpath"/>
               <xs:enumeration value="important"/>
               <xs:enumeration value="note"/>
               <xs:enumeration value="notice"/>
               <xs:enumeration value="other"/>
               <xs:enumeration value="remember"/>
               <xs:enumeration value="restriction"/>
               <xs:enumeration value="tip"/>
               <xs:enumeration value="warning"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="othertype" type="xs:string"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossSymbol">
      <xs:annotation>
         <xs:documentation>The &lt;glossSymbol&gt; element identifies a standard image associated with the subject of the &lt;glossterm&gt;.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossSymbol.class">
               <xs:attribute ref="class"
                             default="- topic/image concept/image glossentry/glossSymbol "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossSymbol.class">
      <xs:sequence>
         <xs:group ref="glossSymbol.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossSymbol.attributes"/>
   </xs:complexType>
   <xs:group name="glossSymbol.content">
      <xs:sequence>
         <xs:group ref="alt" minOccurs="0"/>
         <xs:group ref="longdescref" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossSymbol.attributes">
      <xs:attribute name="href" type="xs:string"/>
      <xs:attribute name="scope">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="external"/>
               <xs:enumeration value="local"/>
               <xs:enumeration value="peer"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="keyref" type="xs:string"/>
      <xs:attribute name="longdescref" type="xs:string"/>
      <xs:attribute name="height" type="xs:NMTOKEN"/>
      <xs:attribute name="width" type="xs:NMTOKEN"/>
      <xs:attribute name="align" type="xs:string"/>
      <xs:attribute name="scale" type="xs:NMTOKEN"/>
      <xs:attribute name="scalefit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="yes"/>
               <xs:enumeration value="no"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="placement" default="inline">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="break"/>
               <xs:enumeration value="inline"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossAlt">
      <xs:annotation>
         <xs:documentation>The &lt;glossAlt&gt; element contains a variant term for the preferred term. The variant should have the same meaning as the term in the &lt;glossterm&gt; element; the variant is
            simply another way to refer to the same term. There may be many ways to refer to a term; each variant is placed in its own &lt;glossAlt&gt; element.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossAlt.class">
               <xs:attribute ref="class"
                             default="- topic/section concept/section glossentry/glossAlt "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossAlt.class">
      <xs:sequence>
         <xs:group ref="glossAlt.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossAlt.attributes"/>
   </xs:complexType>
   <xs:group name="glossAlt.content">
      <xs:sequence>
         <xs:choice minOccurs="0">
            <xs:group ref="glossAbbreviation"/>
            <xs:group ref="glossAcronym"/>
            <xs:group ref="glossShortForm"/>
            <xs:group ref="glossSynonym"/>
         </xs:choice>
         <xs:group ref="glossStatus" minOccurs="0"/>
         <xs:group ref="glossProperty" minOccurs="0" maxOccurs="unbounded"/>
         <xs:group ref="glossUsage" minOccurs="0"/>
         <xs:group ref="note" minOccurs="0" maxOccurs="unbounded"/>
         <xs:group ref="glossAlternateFor" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="glossAlt.attributes">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
   <xs:element name="glossAlternateFor">
      <xs:annotation>
         <xs:documentation>The &lt;glossAlternateFor&gt; element indicates when a variant term has a relationship to another variant term as well as to the preferred term.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="glossAlternateFor.class">
               <xs:attribute ref="class"
                             default="- topic/xref concept/xref glossentry/glossAlternateFor "/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="glossAlternateFor.class">
      <xs:sequence>
         <xs:group ref="glossAlternateFor.content"/>
      </xs:sequence>
      <xs:attributeGroup ref="glossAlternateFor.attributes"/>
   </xs:complexType>
   <xs:group name="glossAlternateFor.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="glossAlternateFor.attributes">
      <xs:attribute name="href" type="xs:string"/>
      <xs:attribute name="keyref" type="xs:string"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="format" type="xs:string"/>
      <xs:attribute name="scope">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="external"/>
               <xs:enumeration value="local"/>
               <xs:enumeration value="peer"/>
               <xs:enumeration value="-dita-use-conref-target"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass" type="xs:string"/>
      <xs:attributeGroup ref="global-atts"/>
   </xs:attributeGroup>
</xs:schema>
